<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingkaihotel"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- BmobPush SDK权限 -->
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="cn.bmob.permission.push" /> <!-- 添加自定义的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.way.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityAboutMe" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityHotelWeiBo" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityWeiXin" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityCallWaiter" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityMsg" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityHotelAlbum" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityHotelGoods" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityQQ" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityHotelNote" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityHotelAddress" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityEmail" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityJianJia" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityZiLiao" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityYaoQing" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityYiLong" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivityShowPhoto" >
        </activity>
        <activity android:name="com.jingkaihotel.activity.ActivitySheShi" >
        </activity>

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" > <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name="com.example.bmobexample.push.MyMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>